@mixin background-image {
    background-image: url("images/photos/image-gallery-milkbottles.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.photo-part {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 375px;
    width: 100%;

    .milk {
        @include background-image();

    }
    .orange-plate {
        @include background-image();
        background-image: url("images/photos/image-gallery-orange.jpg");
    }
    .cone {
        @include background-image();
        background-image: url("images/photos/image-gallery-cone.jpg");
    }
    .sugar {
        @include background-image();
        background-image: url("images/photos/image-gallery-sugarcubes.jpg");
    }
}

@media only screen and (min-width: 768px) {
    .photo-part {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 100%;
        width: 100%;
    
        .milk {
            @include background-image();
    
        }
        .orange-plate {
            @include background-image();
            background-image: url("images/photos/image-gallery-orange.jpg");
        }
        .cone {
            @include background-image();
            background-image: url("images/photos/image-gallery-cone.jpg");
        }
        .sugar {
            @include background-image();
            background-image: url("images/photos/image-gallery-sugarcubes.jpg");
        }
    }
}