.second-part {
    text-align: center;
    .all-slide2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        .text-slide2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
            height: 100%;
            .heading2 {
                line-height: 30px;
                font-family: 'Fraunces', serif;
                font-size: 32px;
                padding-top: 30px;
                padding-bottom: 30px;
                color: $heading-color;
            }
            .text-second-part {
                color: $text-color;
                font-size: 18px;
                line-height: 30px;
                padding-bottom: 30px;
                font-family: 'Barlow', sans-serif;
            }

            .div-underline-slide2 {
                padding-bottom: 30px;
                display: flex;
                flex-direction: column;
                transform: translate(0%, -10%);
                .learnmore-slide2 {

                    color: $heading-color;
                    font-family: 'Fraunces', serif;
                    font-size: 15px;
                    height: 25px;
                    line-height: 25px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    z-index: 1;

                }
                .underline2 {
                    background-color: $yellow-underline;
                    transform: translate(0px, -10px);
                    border-radius: 5px;
                    height: 10px;
                    width: 137px;
                    opacity: 25%;
                    margin: auto;
                    z-index: 0;
                }
            }

        }
    
        .egg {
            width: 100%;
        }
    

    }

    
}

@media only screen and (min-width: 768px) {
    .second-part {
        .all-slide2 {
            display: flex;
            flex-direction: row-reverse;
            .text-slide2 {
                display: flex;
                flex-direction: column;
                text-align:start;
                width: 40%;
                padding-left: 10%;
                .heading2 {
                    line-height: 30px;
                    font-family: 'Fraunces', serif;
                    font-size: 32px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    color: $heading-color;
                    width: 445px;
                }
                .text-second-part {
                    color: $text-color;
                    font-size: 18px;
                    line-height: 30px;
                    padding-bottom: 30px;
                    letter-spacing: -0.13px;
                    font-family: 'Barlow', sans-serif;
                    width: 445px;
                    
                }
    
                .div-underline-slide2 {
                    padding-bottom: 0px;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-self: flex-start;
                    .learnmore-slide2 {
                        color: $heading-color;
                        font-family: 'Fraunces', serif;
                        font-size: 15px;
                        height: 25px;
                        line-height: 25px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        z-index: 1;
    
                    }
                    .underline2 {
                        background-color: $yellow-underline;
                        transform: translate(-10px, -10px);
                        border-radius: 5px;
                        height: 10px;
                        width: 137px;
                        opacity: 25%;
                        margin: auto;
                        z-index: 0;
                    }
                    
                    &:hover > .underline2{
                        background-color: $yellow-underline;
                        opacity: 100%;
                    }
                }
    
            }
        
            .egg {
                width: 50%;
                
            }
        
    
        }
    
        
    }
}