.fifth-part {
    background-image: url("images/photos/image-photography.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 538px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .heading-orange {
        color: $heading-orange;
        font-family: 'Fraunces', serif;
        font-size: 28px;
        padding-bottom: 20px;
    }

    .text-orange {
        color: $heading-orange;
        line-height: 27px;
        width: 350px;
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .fifth-part {
        background-image: url("images/photos/image-photography.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        height: 538px;
        float: right;
        width: 50%;
    
        .heading-orange {
            color: $heading-orange;
            font-family: 'Fraunces', serif;
            font-size: 28px;
            padding-bottom: 20px;
        }
    
        .text-orange {
            color: $heading-orange;
            line-height: 27px;
            width: 350px;
            font-family: 'Barlow', sans-serif;
            font-size: 16px;
            padding-bottom: 50px;
        }
    }
}