.sixth-part {
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 100px;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: $text-people;
    width: 327px;
    .sixth-part-heading {
        font-family: 'Fraunces', serif;
        font-size: 16px;
        color: $heading-people;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .all-people {
        .emily {
        
            .name-job-div {
                display: flex;
                flex-direction: column;
                padding-bottom: 50px;
    
                .name {
                    font-family: 'Fraunces', serif;
                    color: $text-people;
                    padding-bottom: 20px;
                }
    
                .job {
                    font-family: 'Barlow', sans-serif;
                    color: $heading-people;
                }
            }
    
            .emily-img {
                width: 72px;
                border-radius: 50%;
            }
    
            .emily-p {
                padding: 30px 0 50px 0;
                line-height: 32px;
            }
        }
    
        .thomas {
            .name-job-div {
                display: flex;
                flex-direction: column;
    
                .name {
                    font-family: 'Fraunces', serif;
                    color: $heading-color;
                    padding-bottom: 20px;
                }
    
                .job {
                    font-family: 'Barlow', sans-serif;
                    color: $heading-people;
                }
            }
            .thomas-img {
                width: 72px;
                border-radius: 50%;
            }
    
            .thomas-p {
                padding: 30px 0 50px 0;
                line-height: 32px;
            }
        }
    
        .jennie {
            .name-job-div {
                display: flex;
                flex-direction: column;
                
                .name {
                    font-family: 'Fraunces', serif;
                    color: $heading-color;
                    padding-bottom: 20px;
                }
    
                .job {
                    font-family: 'Barlow', sans-serif;
                    color: $heading-people;
                }
            }
            .jennie-img {
                width: 72px;
                margin-top: 50px;
                border-radius: 50%;
            }
    
            .jennie-p {
                padding: 30px 0 50px 0;
                line-height: 32px;
            }
        }
    }
}


@media only screen and (min-width: 768px) {
    .sixth-part {
        padding-top: 10%;
        text-align: center;
        display: flex;
        margin: auto;
        padding: 10% 0 10% 0;
        font-size: 18px;
        font-family: 'Barlow', sans-serif;
        color: $text-people;
        width: 100%;
        .sixth-part-heading {
            font-family: 'Fraunces', serif;
            font-size: 16px;
            color: $heading-people;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
    
        .all-people {
            display: flex;
            margin: auto;
            flex-wrap: nowrap;
            flex-direction: row;
            width: 80%;
            .emily {
            
                .name-job-div {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 50px;
        
                    .name {
                        font-family: 'Fraunces', serif;
                        color: $heading-color;
                        padding-bottom: 20px;
                    }
        
                    .job {
                        font-family: 'Barlow', sans-serif;
                        color: $heading-people;
                    }
                }
        
                .emily-img {
                    width: 72px;
                    border-radius: 50%;
                }
        
                .emily-p {
                    padding: 30px 0 50px 0;
                    line-height: 32px;
                }
            }
        
            .thomas {
                .name-job-div {
                    display: flex;
                    flex-direction: column;
        
                    .name {
                        font-family: 'Fraunces', serif;
                        color: $heading-color;
                        padding-bottom: 20px;
                    }
        
                    .job {
                        font-family: 'Barlow', sans-serif;
                        color: $heading-people;
                    }
                }
                .thomas-img {
                    width: 72px;
                    border-radius: 50%;
                }
        
                .thomas-p {
                    padding: 30px 0 50px 0;
                    line-height: 32px;
                }
            }
        
            .jennie {
                .name-job-div {
                    display: flex;
                    flex-direction: column;
                    
                    .name {
                        font-family: 'Fraunces', serif;
                        color: $heading-color;
                        padding-bottom: 20px;
                    }
        
                    .job {
                        font-family: 'Barlow', sans-serif;
                        color: $heading-people;
                    }
                }
                .jennie-img {
                    margin: 0;
                    width: 72px;
                    border-radius: 50%;
                }
        
                .jennie-p {
                    padding: 30px 0 50px 0;
                    line-height: 32px;
                }
            }
        }
    }
}