footer {
    background-color: $background-footer;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-info {
        width: 80%;
        height: 60%;
        text-align: center;
        .footer-things {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: $footer-things;
            font-family: 'Barlow', sans-serif;
            font-size: 18px;
            padding-top: 50px;
        }
        .socials {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-top: 100px;
        }
        .sunnyside-logo {
            width: 170px;
            height: 33px;
            filter: invert(43%) sepia(10%) saturate(2110%) hue-rotate(118deg) brightness(86%) contrast(88%);
        }
    }
}

@media only screen and (min-width: 768px) {
    footer {
        background-color: $background-footer;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .footer-info {
            width: 25%;
            height: 60%;
            text-align: center;
            .footer-things {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: $footer-things;
                font-family: 'Barlow', sans-serif;
                font-size: 18px;
                padding-top: 50px;

                .footer-list {

                &:hover {
                    color: $color-white;
                }
                }
            }
            .socials {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-top: 100px;

                .footer-img {

                    &:hover {
                        filter: brightness(0) invert(100%);
                    }
                }
            }
            .sunnyside-logo {
                width: 170px;
                height: 33px;
                filter: invert(43%) sepia(10%) saturate(2110%) hue-rotate(118deg) brightness(86%) contrast(88%);
            }
        }
    }
}