$color-white: white;
$heading-color: #24303E;
$yellow-underline: #FAD400;
$text-color: #808397;
$pink-underline: #FE7766;
$heading-cherry: #24554A;
$heading-orange: #052C3B;
$text-people: #5B636D; 
$heading-people: #A7AAAD;
$background-footer: #90D4C6;
$footer-things: #458D7E;