@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
html {
  scroll-behavior: smooth;
  cursor: default;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100%;
  max-height: 100%;
}

.navbar-content {
  display: none;
}

.first-part {
  background-image: url("images/photos/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 538px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.first-part .burger-menu {
  position: absolute;
  top: 32px;
  right: 24px;
  width: 90%;
  height: 0%;
}
.first-part .burger-menu .burger-checkbox {
  display: none;
  position: absolute;
  top: -3px;
  left: 3px;
  width: 24px;
  height: 18px;
}
.first-part .burger-menu .burger-checkbox:checked ~ .navbar-content {
  display: block;
  position: absolute;
  top: 60px;
  text-align: center;
  width: 100%;
  background-color: white;
}
.first-part .burger-menu .burger-checkbox:checked ~ .navbar-content .triangle {
  border-left: 5px solid transparent;
  border-right: 20px solid white;
  border-right-width: 20px;
  border-top: 5px solid transparent;
  border-top-width: 20px;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: -20px;
  right: 0;
  height: 0px;
  width: 10px;
  z-index: 99;
}
.first-part .burger-menu .burger-checkbox:checked ~ .navbar-content .navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 140px;
  height: 56px;
}
.first-part .burger-menu .burger-checkbox:checked ~ .navbar-content .navlistContact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 140px;
  height: 56px;
  border-radius: 50px;
  background-color: #FAD400;
}
.first-part .burger-menu .burger {
  position: absolute;
  top: 0px;
  right: 0px;
}
.first-part .design {
  text-align: center;
  padding-top: 100px;
}
.first-part .design .heading {
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  line-height: 50px;
  font-family: "Fraunces", serif;
  padding-bottom: 50px;
  letter-spacing: 5px;
}
.first-part .design .arrow-down {
  border: 6px;
}
.first-part .logo {
  top: 32px;
  left: 24px;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  body {
    height: 100%;
    max-height: 100%;
  }
  .first-part {
    background-image: url("images/photos/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 900px;
  }
  .first-part .navbar-mobile {
    display: none;
  }
  .first-part .navbar-desktop {
    height: 33px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
  }
  .first-part .navbar-desktop .burger-menu {
    position: absolute;
    top: 32px;
    right: 24px;
  }
  .first-part .navbar-desktop .burger-menu .navbar-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position: absolute;
    right: 10px;
    width: 600px;
    height: 56px;
  }
  .first-part .navbar-desktop .burger-menu .navbar-content .navlist {
    display: flex;
    justify-content: center;
    height: 56px;
    width: 140px;
    font-family: "Fraunces", serif;
    font-size: 15px;
    align-items: center;
    line-height: 25px;
    letter-spacing: 0, 11px;
  }
  .first-part .navbar-desktop .burger-menu .navbar-content .navlistContact {
    display: flex;
    justify-content: center;
    height: 56px;
    width: 140px;
    font-family: "Fraunces", serif;
    font-size: 15px;
    align-items: center;
    line-height: 25px;
    letter-spacing: 0, 11px;
    color: black;
    background-color: white;
    border-radius: 50px;
    text-transform: uppercase;
  }
  .first-part .navbar-desktop .burger-menu .navbar-content .navlistContact:hover {
    border-radius: 50px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
  }
  .first-part .design {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15%;
  }
  .first-part .design .heading {
    font-size: 56px;
    text-transform: uppercase;
    color: white;
    line-height: 69px;
    font-family: "Fraunces", serif;
    padding-bottom: 100px;
    letter-spacing: 5px;
  }
  .first-part .design .arrow-down {
    border: 6px;
  }
  .first-part .logo {
    top: 32px;
    left: 24px;
    position: absolute;
  }
}
.second-part {
  text-align: center;
}
.second-part .all-slide2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
.second-part .all-slide2 .text-slide2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 100%;
}
.second-part .all-slide2 .text-slide2 .heading2 {
  line-height: 30px;
  font-family: "Fraunces", serif;
  font-size: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #24303E;
}
.second-part .all-slide2 .text-slide2 .text-second-part {
  color: #808397;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 30px;
  font-family: "Barlow", sans-serif;
}
.second-part .all-slide2 .text-slide2 .div-underline-slide2 {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  transform: translate(0%, -10%);
}
.second-part .all-slide2 .text-slide2 .div-underline-slide2 .learnmore-slide2 {
  color: #24303E;
  font-family: "Fraunces", serif;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 1;
}
.second-part .all-slide2 .text-slide2 .div-underline-slide2 .underline2 {
  background-color: #FAD400;
  transform: translate(0px, -10px);
  border-radius: 5px;
  height: 10px;
  width: 137px;
  opacity: 25%;
  margin: auto;
  z-index: 0;
}
.second-part .all-slide2 .egg {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .second-part .all-slide2 {
    display: flex;
    flex-direction: row-reverse;
  }
  .second-part .all-slide2 .text-slide2 {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 40%;
    padding-left: 10%;
  }
  .second-part .all-slide2 .text-slide2 .heading2 {
    line-height: 30px;
    font-family: "Fraunces", serif;
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #24303E;
    width: 445px;
  }
  .second-part .all-slide2 .text-slide2 .text-second-part {
    color: #808397;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
    letter-spacing: -0.13px;
    font-family: "Barlow", sans-serif;
    width: 445px;
  }
  .second-part .all-slide2 .text-slide2 .div-underline-slide2 {
    padding-bottom: 0px;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
  }
  .second-part .all-slide2 .text-slide2 .div-underline-slide2 .learnmore-slide2 {
    color: #24303E;
    font-family: "Fraunces", serif;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 1;
  }
  .second-part .all-slide2 .text-slide2 .div-underline-slide2 .underline2 {
    background-color: #FAD400;
    transform: translate(-10px, -10px);
    border-radius: 5px;
    height: 10px;
    width: 137px;
    opacity: 25%;
    margin: auto;
    z-index: 0;
  }
  .second-part .all-slide2 .text-slide2 .div-underline-slide2:hover > .underline2 {
    background-color: #FAD400;
    opacity: 100%;
  }
  .second-part .all-slide2 .egg {
    width: 50%;
  }
}
.third-part {
  text-align: center;
}
.third-part .all-slide3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
.third-part .all-slide3 .text-slide3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 100%;
}
.third-part .all-slide3 .text-slide3 .heading3 {
  line-height: 30px;
  font-family: "Fraunces", serif;
  font-size: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #24303E;
}
.third-part .all-slide3 .text-slide3 .text-third-part {
  color: #808397;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 30px;
  font-family: "Barlow", sans-serif;
}
.third-part .all-slide3 .text-slide3 .div-underline-slide3 {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  transform: translate(0%, -10%);
}
.third-part .all-slide3 .text-slide3 .div-underline-slide3 .learnmore-slide3 {
  color: #24303E;
  font-family: "Fraunces", serif;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 1;
}
.third-part .all-slide3 .text-slide3 .div-underline-slide3 .underline3 {
  background-color: #FE7766;
  transform: translate(0px, -10px);
  border-radius: 5px;
  height: 10px;
  width: 137px;
  opacity: 25%;
  margin: auto;
  z-index: 0;
}
.third-part .all-slide3 .glass {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .third-part .all-slide3 {
    display: flex;
    flex-direction: row;
  }
  .third-part .all-slide3 .text-slide3 {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 40%;
    padding-left: 10%;
  }
  .third-part .all-slide3 .text-slide3 .heading3 {
    line-height: 30px;
    font-family: "Fraunces", serif;
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #24303E;
    width: 445px;
  }
  .third-part .all-slide3 .text-slide3 .text-third-part {
    color: #808397;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
    letter-spacing: -0.13px;
    font-family: "Barlow", sans-serif;
    width: 445px;
  }
  .third-part .all-slide3 .text-slide3 .div-underline-slide3 {
    padding: 0;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
  }
  .third-part .all-slide3 .text-slide3 .div-underline-slide3 .learnmore-slide3 {
    color: #24303E;
    font-family: "Fraunces", serif;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 1;
  }
  .third-part .all-slide3 .text-slide3 .div-underline-slide3 .underline3 {
    background-color: #FE7766;
    border-radius: 5px;
    transform: translate(-10px, -10px);
    height: 10px;
    width: 137px;
    opacity: 25%;
    margin: auto;
    z-index: 0;
  }
  .third-part .all-slide3 .text-slide3 .div-underline-slide3:hover > .underline3 {
    background-color: #FE7766;
    opacity: 100%;
  }
  .third-part .all-slide3 .glass {
    width: 50%;
    float: left;
  }
}
.fourth-part {
  background-image: url("images/photos/image-graphic-design.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 538px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.fourth-part .heading-cherry {
  color: #24554A;
  font-family: "Fraunces", serif;
  font-size: 28px;
  padding-bottom: 20px;
}
.fourth-part .text-cherry {
  color: #24554A;
  line-height: 27px;
  width: 350px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .fourth-part {
    background-image: url("images/photos/image-graphic-design.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 538px;
    float: left;
    text-align: center;
    width: 50%;
  }
  .fourth-part .heading-cherry {
    color: #24554A;
    font-family: "Fraunces", serif;
    font-size: 28px;
    padding-bottom: 20px;
  }
  .fourth-part .text-cherry {
    color: #24554A;
    line-height: 27px;
    width: 350px;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    padding-bottom: 50px;
  }
}
.fifth-part {
  background-image: url("images/photos/image-photography.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 538px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.fifth-part .heading-orange {
  color: #052C3B;
  font-family: "Fraunces", serif;
  font-size: 28px;
  padding-bottom: 20px;
}
.fifth-part .text-orange {
  color: #052C3B;
  line-height: 27px;
  width: 350px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .fifth-part {
    background-image: url("images/photos/image-photography.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 538px;
    float: right;
    width: 50%;
  }
  .fifth-part .heading-orange {
    color: #052C3B;
    font-family: "Fraunces", serif;
    font-size: 28px;
    padding-bottom: 20px;
  }
  .fifth-part .text-orange {
    color: #052C3B;
    line-height: 27px;
    width: 350px;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    padding-bottom: 50px;
  }
}
.sixth-part {
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 100px;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  color: #5B636D;
  width: 327px;
}
.sixth-part .sixth-part-heading {
  font-family: "Fraunces", serif;
  font-size: 16px;
  color: #A7AAAD;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.sixth-part .all-people .emily .name-job-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.sixth-part .all-people .emily .name-job-div .name {
  font-family: "Fraunces", serif;
  color: #5B636D;
  padding-bottom: 20px;
}
.sixth-part .all-people .emily .name-job-div .job {
  font-family: "Barlow", sans-serif;
  color: #A7AAAD;
}
.sixth-part .all-people .emily .emily-img {
  width: 72px;
  border-radius: 50%;
}
.sixth-part .all-people .emily .emily-p {
  padding: 30px 0 50px 0;
  line-height: 32px;
}
.sixth-part .all-people .thomas .name-job-div {
  display: flex;
  flex-direction: column;
}
.sixth-part .all-people .thomas .name-job-div .name {
  font-family: "Fraunces", serif;
  color: #24303E;
  padding-bottom: 20px;
}
.sixth-part .all-people .thomas .name-job-div .job {
  font-family: "Barlow", sans-serif;
  color: #A7AAAD;
}
.sixth-part .all-people .thomas .thomas-img {
  width: 72px;
  border-radius: 50%;
}
.sixth-part .all-people .thomas .thomas-p {
  padding: 30px 0 50px 0;
  line-height: 32px;
}
.sixth-part .all-people .jennie .name-job-div {
  display: flex;
  flex-direction: column;
}
.sixth-part .all-people .jennie .name-job-div .name {
  font-family: "Fraunces", serif;
  color: #24303E;
  padding-bottom: 20px;
}
.sixth-part .all-people .jennie .name-job-div .job {
  font-family: "Barlow", sans-serif;
  color: #A7AAAD;
}
.sixth-part .all-people .jennie .jennie-img {
  width: 72px;
  margin-top: 50px;
  border-radius: 50%;
}
.sixth-part .all-people .jennie .jennie-p {
  padding: 30px 0 50px 0;
  line-height: 32px;
}

@media only screen and (min-width: 768px) {
  .sixth-part {
    padding-top: 10%;
    text-align: center;
    display: flex;
    margin: auto;
    padding: 10% 0 10% 0;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    color: #5B636D;
    width: 100%;
  }
  .sixth-part .sixth-part-heading {
    font-family: "Fraunces", serif;
    font-size: 16px;
    color: #A7AAAD;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .sixth-part .all-people {
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 80%;
  }
  .sixth-part .all-people .emily .name-job-div {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .sixth-part .all-people .emily .name-job-div .name {
    font-family: "Fraunces", serif;
    color: #24303E;
    padding-bottom: 20px;
  }
  .sixth-part .all-people .emily .name-job-div .job {
    font-family: "Barlow", sans-serif;
    color: #A7AAAD;
  }
  .sixth-part .all-people .emily .emily-img {
    width: 72px;
    border-radius: 50%;
  }
  .sixth-part .all-people .emily .emily-p {
    padding: 30px 0 50px 0;
    line-height: 32px;
  }
  .sixth-part .all-people .thomas .name-job-div {
    display: flex;
    flex-direction: column;
  }
  .sixth-part .all-people .thomas .name-job-div .name {
    font-family: "Fraunces", serif;
    color: #24303E;
    padding-bottom: 20px;
  }
  .sixth-part .all-people .thomas .name-job-div .job {
    font-family: "Barlow", sans-serif;
    color: #A7AAAD;
  }
  .sixth-part .all-people .thomas .thomas-img {
    width: 72px;
    border-radius: 50%;
  }
  .sixth-part .all-people .thomas .thomas-p {
    padding: 30px 0 50px 0;
    line-height: 32px;
  }
  .sixth-part .all-people .jennie .name-job-div {
    display: flex;
    flex-direction: column;
  }
  .sixth-part .all-people .jennie .name-job-div .name {
    font-family: "Fraunces", serif;
    color: #24303E;
    padding-bottom: 20px;
  }
  .sixth-part .all-people .jennie .name-job-div .job {
    font-family: "Barlow", sans-serif;
    color: #A7AAAD;
  }
  .sixth-part .all-people .jennie .jennie-img {
    margin: 0;
    width: 72px;
    border-radius: 50%;
  }
  .sixth-part .all-people .jennie .jennie-p {
    padding: 30px 0 50px 0;
    line-height: 32px;
  }
}
.photo-part {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 375px;
  width: 100%;
}
.photo-part .milk {
  background-image: url("images/photos/image-gallery-milkbottles.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
.photo-part .orange-plate {
  background-image: url("images/photos/image-gallery-milkbottles.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-image: url("images/photos/image-gallery-orange.jpg");
}
.photo-part .cone {
  background-image: url("images/photos/image-gallery-milkbottles.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-image: url("images/photos/image-gallery-cone.jpg");
}
.photo-part .sugar {
  background-image: url("images/photos/image-gallery-milkbottles.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-image: url("images/photos/image-gallery-sugarcubes.jpg");
}

@media only screen and (min-width: 768px) {
  .photo-part {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100%;
    width: 100%;
  }
  .photo-part .milk {
    background-image: url("images/photos/image-gallery-milkbottles.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
  .photo-part .orange-plate {
    background-image: url("images/photos/image-gallery-milkbottles.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-image: url("images/photos/image-gallery-orange.jpg");
  }
  .photo-part .cone {
    background-image: url("images/photos/image-gallery-milkbottles.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-image: url("images/photos/image-gallery-cone.jpg");
  }
  .photo-part .sugar {
    background-image: url("images/photos/image-gallery-milkbottles.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-image: url("images/photos/image-gallery-sugarcubes.jpg");
  }
}
footer {
  background-color: #90D4C6;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-info {
  width: 80%;
  height: 60%;
  text-align: center;
}
footer .footer-info .footer-things {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #458D7E;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  padding-top: 50px;
}
footer .footer-info .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 100px;
}
footer .footer-info .sunnyside-logo {
  width: 170px;
  height: 33px;
  filter: invert(43%) sepia(10%) saturate(2110%) hue-rotate(118deg) brightness(86%) contrast(88%);
}

@media only screen and (min-width: 768px) {
  footer {
    background-color: #90D4C6;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer-info {
    width: 25%;
    height: 60%;
    text-align: center;
  }
  footer .footer-info .footer-things {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #458D7E;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    padding-top: 50px;
  }
  footer .footer-info .footer-things .footer-list:hover {
    color: white;
  }
  footer .footer-info .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
  }
  footer .footer-info .socials .footer-img:hover {
    filter: brightness(0) invert(100%);
  }
  footer .footer-info .sunnyside-logo {
    width: 170px;
    height: 33px;
    filter: invert(43%) sepia(10%) saturate(2110%) hue-rotate(118deg) brightness(86%) contrast(88%);
  }
}/*# sourceMappingURL=style.css.map */